@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply font-sans antialiased bg-background text-foreground;
  }
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;

@media (max-width: 768px) {
  .tabs-responsive {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
  }
}

  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }
}